<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
   <TITLE>Broadcom Login</TITLE>
<link rel="stylesheet" href="/css/style.css">
<script type='text/javascript' language='JavaScript'>

function DisplayErrorMsg()
{
    alert("Login failure");
}

function CheckError()
{
   document.forms[0].uname.focus();
      DisplayErrorMsg();
   //emweb:/XE_CLEAR_SESSION?0;
}

</script>

</HEAD>

<script language="javascript">
	if(top != self)
		top.location.href = "/fastpath_login.html";
</script>


<BODY bgcolor="#ffffff" onload="CheckError()"  topmargin="0" leftmargin="0">
<BODY style="text-align: center" onload="document.forms[0].uname.focus();CheckError()">
<FORM METHOD="POST" EMWEB_NAME="fail_login">
<CENTER>
<BR><BR><BR>
<TABLE WIDTH=80%>

  <TR><TD VALIGN="TOP"><IMG ALT="Broadcom Stripes" SRC="/images/lvl7_stripes.gif"></TD>

      <TD>
        <TABLE>

        <TR><TD VALIGN="TOP" ALIGN="RIGHT" COLSPAN=2>
          <IMG alt="Broadcom Login Logo" src="/images/BRCM_logo.gif">
        </TD></TR>

        <TR><TD>&nbsp;</TD></TR>

		<TR>
			<TD width="100%%">
            <table align="center">
                <tr>
        			<TD align="right"> User Name </TD>
        			<TD align="left" class="inputfield">
        			   <input class="inputfield" type="TEXT" name="uname" size="10" maxlength="64">
        			</TD>
                </tr>
                <tr>
        			<TD align="right"> Password </TD>
        			<TD align="left" class="inputfield">
        			   <input class="inputfield" type="PASSWORD" name="pwd" size="10" maxlength="128">
        			</TD>
                </tr>
                <tr>
        			<TD align="right"> &nbsp; </TD>
        			<TD align="left">
        			   <input class="buttonattributes" type=SUBMIT name="login" value="Login">
        			</TD>
                </tr>
            </table>
            </td>
         </tr>

        <TR><TD>&nbsp;</TD></TR>
        <TR><TD>&nbsp;</TD></TR>

        <TR><TD COLSPAN=2>&copy;2003-2008 Broadcom Corporation. All rights reserved.Broadcom&reg;, the pulse logo, Connecting everything&reg;, the Connecting everything logo, FASTPATH&reg;, and MasterDriver&reg; are among the trademarks of Broadcom Corporation and/or its affiliates in the United States, certain other countries and/or the EU. Any other trademarks or trade names mentioned are the property of their respective owners.
        </td></TR>
       

        </TABLE>
      </TD>

  </TR>

</TABLE>
</CENTER>
<INPUT TYPE="hidden" NAME="err_flag" SIZE="16" MAXLENGTH="15" EMWEB_TYPE=DECIMAL_UINT>
<INPUT TYPE="hidden" NAME="err_msg" SIZE="128" MAXLENGTH="512" >
<INPUT TYPE="hidden" NAME="passpage" VALUE="fastpath_main.html" >
<INPUT TYPE="hidden" NAME="failpage" VALUE="fastpath_login.html" >
</FORM>
</BODY>
</HTML>


