<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<LINK REL=stylesheet HREF="/css/style.css" TYPE="text/css">
<html>
  <head>
    <title>EmWeb/Server</title>
  </head>
  <body class="bodyframeattributes">
    <form method="POST" EMWEB_NAME="logout">
      <table bgcolor="#ffffff" height="30" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td bgcolor="#ffffff" valign="middle" width="100%" align="right">
            <input class="logoutButton" type=SUBMIT name="logout" value="Logout">
          </td>
        </tr>
      </table>
      <input type="hidden" name="loginpage" value="fastpath_login.html">
    </form>
  </body>
</html>
