<HTML>
<HEAD>
    <TITLE>Map Applet</TITLE>
    <LINK REL=stylesheet HREF="/css/style.css" TYPE="text/css">
    <META http-equiv="Pragma" content="no-cache">
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<script>
function loadPort()
{
  var selPageToLoad = document.forms[0].selPageToLoad.value;
  var selUnit = document.forms[0].selUnit.value;
  var selSlot = document.forms[0].selSlot.value;
  var selPort = document.forms[0].selPort.value;
  var intfValid = document.forms[0].intfValid.value;
  var stackIntfValid = document.forms[0].stackIntfValid.value;

  if (intfValid == "1" && selPageToLoad.indexOf('?') != -1)
  {
   var onlyLink = selPageToLoad.substr(0,selPageToLoad.indexOf('?'));
<EMWEB_IF ID=USMWEB_IF_STACKING_PRESENT C = '
#ifdef L7_STACKING_PACKAGE
  return "TRUE";
#else
  return NULL;
#endif
'>
    window.open(selPageToLoad+"="+selUnit+"/"+selSlot+"/"+selPort+"&submit_flag=1&submit_target="+onlyLink,"basefrm");
<EMWEB_ELSE>
    window.open(selPageToLoad+"="+selSlot+"/"+selPort+"&submit_flag=1&submit_target="+onlyLink,"basefrm");
</EMWEB_IF>
  } else {
    window.open(selPageToLoad,"basefrm");
  }
}
</script>

</HEAD>
<BODY CLASS="bodyframeattributes">
<Table ALIGN="LEFT" WIDTH=80%>
<tr>
<TD VALIGN="MIDDLE" align="center">
<applet 
   CODEBASE ="/java/base/" 
   CODE     ="MapApplet.class"
   NAME     ="MapAppletNavigation" 
   ID       ="map_applet"
   emweb:/USMWEB_JAVA_BASE_IMAGE_SIZE_GET;
   MAYSCRIPT 
>

<PARAM NAME="STACK_FULL_VIEW"  VALUE="0">

emweb:/USMWEB_JAVA_BOX_MARKUP_GET;

<!-- These are the popup menus.  Menu 1 is popped up when the user clicks on any port with a 
     slot.port ID in slots 0 through 2. Menu 2 is popped up when the user clicks anywhere in the applet that does 
     not already have some action associated with it. 
     FOUND IN THE FILE NOTED BELOW:
 -->

<EMWEB_INCLUDE C=' return "/applet_menus.html";  ' >

<P CLASS="tabledata">   You need the Java Plugin.  
    Get it from <a target="new" href="http://java.sun.com/products/plugin/index.html">here.</a></p>      
</APPLET>
<script src="/scripts/_xeweb_menu.js"></script>
<script src="/scripts/nav_gen.js"></script>
<script src="/scripts/prototype.js"></script>
<script>
/*
var obj = document.getElementById("map_applet");
var xuiMenu;

xuiMenu = generateAppletMenu(null,"applet_menu",xuiNavData);
if (obj && obj.innerHTML)
  obj.innerHTML += xuiMenu;
obj.init()
*/
</script>
<EMWEB_IF ID=USMWEB_COMPONENT_PRESENT VALUE="WIRELESS">
<APPLET 
   CODEBASE = "/java/base"
   CODE     = "A2A.class"
   NAME     = "MapAppletServer" 
   HEIGHT   = "1"
   WIDTH    = "1"
   MAYSCRIPT 
>
<PARAM NAME=SERVER_ID VALUE="TRUE">    
</APPLET>
</EMWEB_IF>

</TD>
</TR>
</TABLE>

<FORM method="post" EMWEB_NAME="map_applet_port_show" Action=formOne TARGET = "basefrm">

<INPUT TYPE="hidden" NAME="selUnit" EMWEB_TYPE=DECIMAL_UINT>
<INPUT TYPE="hidden" NAME="selSlot" EMWEB_TYPE=DECIMAL_UINT>
<INPUT TYPE="hidden" NAME="selPort" EMWEB_TYPE=DECIMAL_UINT>
<INPUT TYPE="hidden" NAME="intfValid" EMWEB_TYPE=DECIMAL_UINT>
<INPUT TYPE="hidden" NAME="stackIntfValid" EMWEB_TYPE=DECIMAL_UINT>
<INPUT TYPE="hidden" NAME="selPageToLoad">

</FORM>

</BODY>
</HTML>


