config IPROC_FA
	tristate "FA (CTF) support"
	select BCM_CTF
	depends on ARCH_IPROC && MACH_NS
	default n
	help
	  FA support 
	  This driver provides kernel-side support for a HW flow accelerator
	
	  If unsure, say N.
