<HTML>
<HEAD>
<script type="text/javascript" src="/scripts/global.js"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css" id="fastpath">
</HEAD>

<BODY onLoad="javascript:alternateColors();">
<table>
<font class="hTitle">VLAN Participation/Tagging</font><br><hr>

<TR><TD class='ghead'>VLAN Tagging</TD></TR>

<TR>
	<TD class='eHead'>VLAN</TD>
	<TD class='eDes'>Select VLAN to Tag/Untag/Exclude ports</TD>
</TR>
<TR>
	<TD class='eHead'>Tag/Untag/Exclude all the ports by clicking multiple times on the icon</TD>
	<TD class='eDes'>
	<IMG src="/images/b.gif" valign="middle">&nbsp;: Exclude all ports <br>
	<IMG src="/images/t.gif" valign="middle">&nbsp;: Tag all ports <br>
	<IMG src="/images/u.gif" valign="middle">&nbsp;: Untag all ports <br>
	</TD>
</TR>
<TR>
	<TD class='eHead'>Port</TD>
	<TD class='eDes'>Port Number</TD>
</TR>
<TR>
	<TD class='eHead'><IMG src="/images/b.gif"></TD>
	<TD class='eDes'>Tag/Untag/Exclude selected port by clicking multiple times on this icon.<br>
	<IMG src="/images/b.gif" valign="middle">&nbsp;: Exclude selected port <br>
	<IMG src="/images/t.gif" valign="middle">&nbsp;: Tag selected port <br>
	<IMG src="/images/u.gif" valign="middle">&nbsp;: Untag selected port <br>
	</TD>
</TR>
<TR>
	<TD class='eHead'>Apply</TD>
	<TD class='eDes'>Applies the changes to the selected VLAN</TD>
</TR>
</table></BODY></HTML>