
<!-- ----------------------------------- -->
<!--  Stacking params                    -->
<!-- ----------------------------------- -->
<PARAM NAME="full_stack_link"             VALUE="30,80">    
<PARAM NAME="full_stack_link_dim"         VALUE="170,20"> 
<PARAM NAME="full_stack_link_img"         VALUE="/images/stack_link.gif">  
<PARAM NAME="stack_nav_prev"              VALUE="/images/prev_nav.gif">  
<PARAM NAME="stack_nav_next"              VALUE="/images/next_nav.gif">
<PARAM NAME="stack_nav_blank"             VALUE="/images/blank_nav.gif">
<PARAM NAME="stack_next"                  VALUE="0,50">    
<PARAM NAME="stack_next_dim"              VALUE="30,30"> 
<PARAM NAME="stack_prev"                  VALUE="0,0">    
<PARAM NAME="stack_prev_dim"              VALUE="30,30">
<PARAM NAME="stack_nav_width"             VALUE="30">
<PARAM NAME="stack_unit1"                 VALUE="/images/unit1.gif">
<PARAM NAME="stack_unit2"                 VALUE="/images/unit2.gif">
<PARAM NAME="stack_unit3"                 VALUE="/images/unit3.gif">
<PARAM NAME="stack_unit4"                 VALUE="/images/unit4.gif">
<PARAM NAME="stack_unit4"                 VALUE="/images/unit4.gif">
<PARAM NAME="stack_unit5"                 VALUE="/images/unit5.gif">
<PARAM NAME="stack_unit6"                 VALUE="/images/unit6.gif">
<PARAM NAME="stack_unit7"                 VALUE="/images/unit7.gif">
<PARAM NAME="stack_unit8"                 VALUE="/images/unit8.gif">
<PARAM NAME="stack_pre_unit1"             VALUE="/images/pre_unit1.gif">
<PARAM NAME="stack_pre_unit2"             VALUE="/images/pre_unit2.gif">
<PARAM NAME="stack_pre_unit3"             VALUE="/images/pre_unit3.gif">
<PARAM NAME="stack_pre_unit4"             VALUE="/images/pre_unit4.gif">
<PARAM NAME="stack_pre_unit5"             VALUE="/images/pre_unit5.gif">
<PARAM NAME="stack_pre_unit6"             VALUE="/images/pre_unit6.gif">
<PARAM NAME="stack_pre_unit7"             VALUE="/images/pre_unit7.gif">
<PARAM NAME="stack_pre_unit8"             VALUE="/images/pre_unit8.gif">
<PARAM NAME="stack_unitId_width"          VALUE="30">
                                     


