/*
 * ta12xg PTIN  Device Tree Source
 *
 * Copyright 2012-2013 PT Inovacao, S.A.
 *
 * This program is free software; you can redistribute  it and/or modify it
 * under  the terms of  the GNU General  Public License as published by the
 * Free Software Foundation;  either version 2 of the  License, or (at your
 * option) any later version.
 */

/dts-v1/;
/ {
	model = "fsl,P1010";
	compatible = "fsl,P1010RDB";
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &serial0;
		serial1 = &serial1;
		ethernet0 = &enet0;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		PowerPC,P1010@0 {
			device_type = "cpu";
			reg = <0x0>;
			next-level-cache = <&L2>;
		};
	};

	memory {
		device_type = "memory";
	};

	ifc@ffe1e000 {
		#address-cells = <2>;
		#size-cells = <1>;
		compatible = "fsl,ifc", "simple-bus";
		reg = <0x0 0xffe1e000 0 0x2000>;
		interrupts = <16 2 19 2>;
		interrupt-parent = <&mpic>;

		/* NOR, NAND Flashes and CPLD on board */
		ranges = <0x0 0x0 0x0 0xff800000 0x00020000>;


		nand@0,0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "fsl,ifc-nand";
			//compatible = "fsl,elbc-fcm-nand";
			reg = <0x0 0x0 0x40000>;
			partition@0 {
				/* This location must not be altered  */
				/* 1MB for u-boot Bootloader Image */
				reg = <0x0 0x0084000>;
				label = "NAND U-Boot Image";
				//read-only;
			};
			partition@84000 {
				/* 1MB for DTB Image */
				reg = <0x0084000 0x007c000>;
				label = "NAND U-BOOT - ENV";
			};



			partition@100000 {
				/* 1MB for DTB Image */
				reg = <0x00100000 0x00100000>;
				label = "NAND DTB Image";
			};





			partition@200000 {
				/* 4MB for Linux Kernel Image */
				reg = <0x00200000 0x00400000>;
				label = "NAND Linux Kernel Image";
			};






			partition@600000 {
				/* 4MB for Compressed Root file System Image */
				reg = <0x00600000 0x00400000>;
				label = "NAND Compressed RFS Image";
			};






			partition@a00000 {
				/* 15MB for JFFS2 based Root file System */
				reg = <0x00a00000 0x00f00000>;
				label = "NAND JFFS2 Root File System";
			};
			
			partition@1900000 {
				/* 7MB for User Area */
				reg = <0x01900000 0x00700000>;
				label = "NAND User area";
			};
            partition@2000000 {
                                 /* 7MB for User Area */
                                 reg = <0x02000000 0x02000000>;
                                 label = "NAND BIG User area";
                             };

		};
	};

	soc@ffe00000 {
		#address-cells = <1>;
		#size-cells = <1>;
		device_type = "soc";
		compatible = "fsl,p1020-immr", "simple-bus";
		ranges = <0x0  0x0 0xffe00000 0x100000>;
		bus-frequency = <0>;		// Filled out by uboot.

		ecm-law@0 {
			compatible = "fsl,ecm-law";
			reg = <0x0 0x1000>;
			fsl,num-laws = <12>;
		};

		ecm@1000 {
			compatible = "fsl,p1020-ecm", "fsl,ecm";
			reg = <0x1000 0x1000>;
			interrupts = <16 2>;
			interrupt-parent = <&mpic>;
		};

		memory-controller@2000 {
			compatible = "fsl,p1020-memory-controller";
			reg = <0x2000 0x1000>;
			interrupt-parent = <&mpic>;
			interrupts = <16 2>;
		};

		i2c@3000 {
			#address-cells = <1>;
			#size-cells = <0>;
			cell-index = <0>;
			compatible = "fsl-i2c";
			reg = <0x3000 0x100>;
			interrupts = <43 2>;
			interrupt-parent = <&mpic>;
			dfsrr;
			rtc@68 {
				compatible = "pericom,pt7c4338";
				reg = <0x68>;
			};
		};

		i2c@3100 {
			#address-cells = <1>;
			#size-cells = <0>;
			cell-index = <1>;
			compatible = "fsl-i2c";
			reg = <0x3100 0x100>;
			interrupts = <43 2>;
			interrupt-parent = <&mpic>;
			dfsrr;
		};

		serial0: serial@4500 {
			cell-index = <0>;
			device_type = "serial";
			compatible = "ns16550";
			reg = <0x4500 0x100>;
			clock-frequency = <0>;
			interrupts = <42 2>;
			interrupt-parent = <&mpic>;
		};

		serial1: serial@4600 {
			cell-index = <1>;
			device_type = "serial";
			compatible = "ns16550";
			reg = <0x4600 0x100>;
			clock-frequency = <0>;
			interrupts = <42 2>;
			interrupt-parent = <&mpic>;
		};



		spi@7000 {
			cell-index = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
	//		compatible = "fsl,espi";
            compatible = "fsl,mpc8536-espi";
			reg = <0x7000 0x1000>;
			interrupts = <59 0x2>;
			interrupt-parent = <&mpic>;
	//		espi,num-ss-bits = <4>;
	//		mode = "cpu";
            fsl,espi-num-chipselects = <1>;

        pld@0 {
           #address-cells = <1>;
           #size-cells = <1>;
           compatible = "spidev";
           chip_select = <3>;
           reg = <0>;
           spi-max-frequency = <40000000>; /* input clock */
         };
                                                                                                                                                                                                                              	

// If SPI flash node exists legerity cannot be in device tree because both
// are sitting at same CS #0
// either legerity or SPI flash node will be deleted by u-boot fixup at runtime.
		};

		gpio: gpio-controller@f000 {
			#gpio-cells = <2>;
			compatible = "fsl,mpc8572-gpio";
			reg = <0xf000 0x100>;
			interrupts = <47 0x2>;
			interrupt-parent = <&mpic>;
			gpio-controller;
		};

		tdm@16000 {
			device_type = "tdm";
			compatible = "fsl,starlite-tdm";
			reg = <0x16000 0x200 0x2c000 0x2000>;
			clock-frequency = <0>;
			interrupts = <16 8 62 8>;
			interrupt-parent = < &mpic >;
		};

		L2: l2-cache-controller@20000 {
			compatible = "fsl,p1020-l2-cache-controller";
			reg = <0x20000 0x1000>;
			cache-line-size = <32>;	// 32 bytes
			cache-size = <0x40000>; // L2,256K
			interrupt-parent = <&mpic>;
			interrupts = <16 2>;
		};

		dma@21300 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "fsl,eloplus-dma";
			reg = <0x21300 0x4>;
			ranges = <0x0 0x21100 0x200>;
			cell-index = <0>;
			dma-channel@0 {
				compatible = "fsl,eloplus-dma-channel";
				reg = <0x0 0x80>;
				cell-index = <0>;
				interrupt-parent = <&mpic>;
				interrupts = <20 2>;
			};
			dma-channel@80 {
				compatible = "fsl,eloplus-dma-channel";
				reg = <0x80 0x80>;
				cell-index = <1>;
				interrupt-parent = <&mpic>;
				interrupts = <21 2>;
			};
			dma-channel@100 {
				compatible = "fsl,eloplus-dma-channel";
				reg = <0x100 0x80>;
				cell-index = <2>;
				interrupt-parent = <&mpic>;
				interrupts = <22 2>;
			};
			dma-channel@180 {
				compatible = "fsl,eloplus-dma-channel";
				reg = <0x180 0x80>;
				cell-index = <3>;
				interrupt-parent = <&mpic>;
				interrupts = <23 2>;
			};
		};

		mdio@24000 {
				#address-cells = <1>;
			#size-cells = <0>;
			compatible = "fsl,etsec2-tbi";
			reg = <0x24000 0x1000 0xb1030 0x4>;
			tbi0: tbi-phy@11 {
				reg = <0x11>;
				device_type = "tbi-phy";
		        linux,phandle = <0x5>;
                phandle = <0x5>;

        	};
			phy0: ethernet-phy@6 {
				interrupt-parent = <&mpic>;
				interrupts = <3 1>;
				reg = <0x1>;
			};
		};


		ptp_timer: ptimer@b0e00 {
			compatible = "fsl,gianfar-ptp-timer";
			reg = <0xb0e00 0xb0>;
			interrupts = <68 2 69 2 70 2>;
			interrupt-parent = <&mpic>;
			tmr-prsc = <0x2>;
			cksel = <1>;
		};

//	enet0: ethernet@b0000 {
//			#address-cells = <1>;
//			#size-cells = <1>;
//
//			device_type = "network";
//			model = "eTSEC";
//			compatible = "fsl,etsec2";
//
//
//			fsl,num_rx_queues = <0x8>;
//			fsl,num_tx_queues = <0x8>;
//			local-mac-address = [ 00 00 00 00 00 00 ];
//
//			interrupt-parent = <&mpic>;
//
//
//			phy-connection-type = "sgmii";
//
//
//
//
//
//            fixed-link = <0 1 1000 0 0> ;
//queue-group@0 {
//				#address-cells = <1>;
//				#size-cells = <1>;
//
//
//
//
//
//
//
//
//
//				reg = <0xb0000 0x1000>;
//				rx-bit-map = <0xff>;
//				tx-bit-map = <0xff>;
//				interrupts = <29 2 30 2 34 2>;
//			};
//
//		};
//           	









		
 	enet0: ethernet@b0000 {
		#address-cells = <1>;
		#size-cells = <1>;
		device_type = "network";



		model = "eTSEC";
		compatible = "fsl,etsec2";
		fsl,num_rx_queues = <0x8>;
		fsl,num_tx_queues = <0x8>;
		local-mac-address = [ 00 00 00 00 00 00 ];
		interrupt-parent = <&mpic>;

	//	phy-handle = <&phy0>;
//		tbi-handle = <&tbi0>;
 		phy-connection-type = "sgmii";
 		fixed-link = <0 1 1000 0 0> ;
			
		queue-group@0 {
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0xb0000 0x1000>;
			fsl,rx-bit-map = <0xff>;
			fsl,tx-bit-map = <0xff>;
		    interrupts = <29 2 30 2 34 2>;
		};

 			
};

//      		enet1: ethernet@b1000 {
//      			#address-cells = <1>;
//      			#size-cells = <1>;
//      
//      			device_type = "network";
//      			model = "eTSEC";
//      			compatible = "fsl,etsec2";
//      
//      
//      			fsl,num_rx_queues = <0x8>;
//      			fsl,num_tx_queues = <0x8>;
//      			local-mac-address = [ 00 00 00 00 00 00 ];
//      
//      			interrupt-parent = <&mpic>;
//      
//      
//      			phy-connection-type = "sgmii";
//        //         tbi-handle = <&tbi2>;
//      
//      
//      
//      			fixed-link = <0 1 1000 0 0> ;
//        //         mdio@520 {
//        //                   #address-cells = <1>;
//        //                   #size-cells = <0>;
//        //                   compatible = "fsl,gianfar-tbi";
//        //                   reg = <0x520 0x20>;
//        //                   tbi2:tbi-phy@11 {
//        //                       reg = <0x11>;
//         //                      device_type = "tbi-phy";
//         //                  };
//         //           };
//      
//      
//      
//      
//      
//      
//      
//      			queue-group@0 {
//      				#address-cells = <1>;
//      				#size-cells = <1>;
//      				reg = <0xb1000 0x1000>;
//      				rx-bit-map = <0xff>;
//      				tx-bit-map = <0xff>;
//      				interrupts = <35 2 36 2 40 2>;
//      			};
//      
//      		};
//      
//      
		mpic: pic@40000 {
			interrupt-controller;
			#address-cells = <0>;
			#interrupt-cells = <2>;
			reg = <0x40000 0x40000>;
			compatible = "chrp,open-pic";
			device_type = "open-pic";
		};

		message@41400 {
			compatible = "fsl,p1020-msg", "fsl,mpic-msg";
			reg = <0x41400 0x200>;
			interrupts = <
				0xb0 2
				0xb1 2
				0xb2 2
				0xb3 2>;
			interrupt-parent = <&mpic>;
		};

		message@42400 {
			compatible = "fsl,p1020-msg", "fsl,mpic-msg";
			reg = <0x42400 0x200>;
			interrupts = <
				0xb4 2
				0xb5 2
				0xb6 2
				0xb7 2>;
			interrupt-parent = <&mpic>;
		};

		msi@41600 {
			compatible = "fsl,p1020-msi", "fsl,mpic-msi";
			reg = <0x41600 0x80>;
			msi-available-ranges = <0 0x100>;
			interrupts = <
				0xe0 0
				0xe1 0
				0xe2 0
				0xe3 0
				0xe4 0
				0xe5 0
				0xe6 0
				0xe7 0>;
			interrupt-parent = <&mpic>;
		};

		global-utilities@e0000 {	//global utilities block
			compatible = "fsl,p2020-guts";
			reg = <0xe0000 0x1000>;
			fsl,has-rstcr;
		};
	};

		pci0: pcie@ffe0a000 {
		compatible = "fsl,p1010-pcie", "fsl,qoriq-pcie-v2.3", "fsl,qoriq-pcie-v2.2";
		device_type = "pci";
		#interrupt-cells = <1>;
		#size-cells = <2>;
		#address-cells = <3>;
		reg = <0 0xffe0a000 0 0x1000>;
		bus-range = <0 255>;
		ranges = <0x2000000 0x0 0x80000000 0 0x80000000 0x0 0x20000000 0x1000000 0x0 0x0 0 0xffc00000 0x0 0x10000>;
		//ranges = <0x2000000 0x0 0xc0000000 0 0xc0000000 0x0 0x20000000 0x1000000 0x0 0x0 0 0xffc20000 0x0 0x10000>;
		clock-frequency = <125000000>;
		interrupt-parent = <&mpic>;
		interrupts = <26 2>;
		interrupt-map-mask = <0xf800 0x0 0x0 0x7>;
		interrupt-map = <0 0x0 0x0 0x1 &mpic 0x0 0x1 0 0x0 0x0 0x2 &mpic 0x1 0x1 0 0x0 0x0 0x3 &mpic 0x2 0x1 0 0x0 0x0 0x4 &mpic 0x3 0x1>;
		
		pcie@0 {
			reg = <0x0 0x0 0x0 0x0 0x0>;
			#size-cells = <2>;
			#address-cells = <3>;
			device_type = "pci";
			//ranges = <0x2000000 0x0 0xc0000000 0x2000000 0x0 0xc0000000 0x0 0x20000000 0x1000000 0x0 0x0 0x1000000 0x0 0x0 0x0 0x10000>;
			ranges = <0x2000000 0x0 0x80000000 0x2000000 0x0 0x80000000 0x0 0x20000000 0x1000000 0x0 0x0 0x1000000 0x0 0x0 0x0 0x10000>;
		};
	};
	
//	pci0: pcie@ffe0a000 {
//		cell-index = <1>;
//		compatible = "fsl,p1010-pcie", "fsl,qoriq-pcie-v2.3", "fsl,qoriq-pcie-v2.2";
//		device_type = "pci";
//		#interrupt-cells = <1>;
//		#size-cells = <2>;
//		#address-cells = <3>;
//		reg = <0 0xffe0a000 0 0x1000>;
//		bus-range = <0 255>;
//   	ranges = <0x2000000 0x0 0xa0000000 0 0xa0000000 0x0 0x20000000
//			  0x1000000 0x0 0x00000000 0 0xffc10000 0x0 0x10000>;
//		
//        clock-frequency = <125000000>;
//		interrupt-parent = <&mpic>;
//		interrupts = <16 2>;
//		interrupt-map-mask = <0xf800 0x0 0x0 0x7>;
//		interrupt-map = <
//			/* IDSEL 0x0 */
//			0000 0x0 0x0 0x1 &mpic 0x4 0x1
//			0000 0x0 0x0 0x2 &mpic 0x5 0x1
//			0000 0x0 0x0 0x3 &mpic 0x6 0x1
//			0000 0x0 0x0 0x4 &mpic 0x7 0x1
//			>;
//		pcie@0 {
//			reg = <0x0 0x0 0x0 0x0 0x0>;
//			#size-cells = <2>;
//			#address-cells = <3>;
//			device_type = "pci";
//		
//      ranges = <0x2000000 0x0 0xa0000000
//        	ranges = <0x2000000 0x0 0xa0000000
//				  0x2000000 0x0 0xa0000000
//				  0x0 0x20000000
//
//				  0x1000000 0x0 0x0
//				  0x1000000 0x0 0x0
//				  0x0 0x100000>;
//	
//    	};
//	};
//




};
