menuconfig IPROC_FA2
	tristate "FA+ support"
	depends on ARCH_IPROC && MACH_NSP
	default n
	help
	  FA+ support 
	  This driver provides kernel support for Northstar+ Flow Accelerator
	
	  If unsure, say N.

if IPROC_FA2
config IPROC_FA2_CS_OFFLOAD
	bool "TCP, UDP checksum Offload"
	default n
	help
	  Enable TCP, UDP checksum offload function by selecting this option.
config IPROC_FA2_CS_OFFLOAD_SMALL_PKT_WA
	bool "Workaround for small TCP, UDP packets"
	depends on IPROC_FA2_CS_OFFLOAD
	default n
	help
	  Enables workaround for TCP, UDP pkt sizes <= 64 bytes. Hardware checksum
	  generation fails for small sized packets. This workaround is valid for
	  Northstar+ A0 only.
config IPROC_FA2_NAPT_BYPASS
	bool "FA2 NAPT Bypass"
	default n
	depends on IPROC_FA2_CS_OFFLOAD

endif # IPROC_FA2
