<HTML>
<HEAD>
<script type="text/javascript" src="/scripts/global.js"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css" id="fastpath">
</HEAD>

<BODY onLoad="javascript:alternateColors();">
<table>
<font class="hTitle">Port Channel Participation</font><br><hr>

<TR><TD class='ghead'>Membership</TD></TR>

<TR>
	<TD class='eHead'>Port</TD>
	<TD class='eDes'>Port Number</TD>
</TR>
<TR>
	<TD class='eHead'>LAG</TD>
	<TD class='eDes'>
	<IMG src="/images/0.gif" valign="middle">&nbsp;: Port is not a member of any LAG <br>
	<IMG src="/images/1.gif" valign="middle">&nbsp;: Port is member of LAG 1 <br>
	<IMG src="/images/2.gif" valign="middle">&nbsp;: Port is member of LAG 2 <br>
	</TD>
</TR>
<TR>
	<TD class='eHead'>LACP</TD>
	<TD class='eDes'>
	<IMG src="/images/0.gif" valign="middle">&nbsp;: LACP disabled <br>
	<IMG src="/images/l.gif" valign="middle">&nbsp;: LACP Enabled <br>
	</TD>
</TR>
<TR>
	<TD class='eHead'>Apply</TD>
	<TD class='eDes'>Applies the modified configuration</TD>
</TR>
</table></BODY></HTML>