config IPROC_RNG200
	tristate "iProc RNG200 support"
	select HW_RANDOM
	depends on ARCH_IPROC && MACH_IPROC_P7
	default n
	help
	  iProc RNG200 support 
	  This driver provides kernel-side support for a iProc Random
	  Number Generator RNG200.
	
	  If unsure, say N.
