config IPROC_PAE_IPSEC
	tristate "PAE IPSEC support"
	select INET_ESP
	select INET_AH
	depends on ARCH_IPROC && IPROC_PAE
	default n
	help
	  PAE IPSEC support 
	  This driver provides kernel-side support for a PAE IPSEC
	
	  If unsure, say N.
