config IPROC_XOR
	tristate "NS+ XOR offload support"
	depends on ARCH_IPROC && MACH_NSP
    select ASYNC_TX_ENABLE_CHANNEL_SWITCH
    default n
	help
	  NS+ XOR offload support
	  This driver provides kernel support for XOR offload to the PAE through a DMA-like interface
	
	  If unsure, say N.
